  .float-panel {
    width:100%;
    background:white;
    z-index:300;
    padding:30px 0; 
    transform: translateZ(0);
    transition:all 0.5s;
    font-family: arial;
}
.float-panel .content-area {
    max-width:900px;
    margin:10px auto;
}
.float-panel a {
    font-size:16px;
    text-decoration:none;
    color:#444;
    display:inline-block;
    padding:10px 20px;
} 

            #panel-link:hover{ border-bottom:1px solid #272727; }
            
                
.float-panel .logo {                  
    color:#0F6BC8;
    font-size:30px;
    vertical-align:middle;                  
    transition:all 1s; 
    border: none;
}
#logo-menu{background-image: url(https://1.bp.blogspot.com/-wp3PIeho4QM/WR5R5dxIbuI/AAAAAAAAAgg/-kMwpM1pUScRl_uQ4QF573kOAGOTQjGAgCLcB/s320/Cart-Icon-PNG-Graphic-Cave.png); padding:10px 40px;
    background-size:40px; background-position: 0; background-repeat: no-repeat;}

/* Float Panel: class=&quot;float-panel fixed&quot; */

.fixed {
    box-shadow:0 2px 6px rgba(0,0,0,0.2);  
    padding:4px 0;
    animation:slide-down 0.7s;
    opacity:0.9;    
}                  
.fixed .fa-gg {                  
    transform: rotate(360deg);      
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
}
            
                .content-button{ font-size:16px; padding: 10px 20px; background-color:  transparent; border:0px; cursor: pointer; }
                .content-button:hover{ border-bottom: 1px solid #272727; }

                #content {
                position: fixed; 
                display: none; 
                width: 100%; 
                height: 100%; 
                top: 0; 
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0,0,0,0.5);
                z-index: 2;
                cursor: pointer;
                }            
                #text{
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 50px;
                color: white;
                transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                }
